/* styles.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: gray;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.header {
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin: 0;
}

.todo-form {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.todo-input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  margin-right: 10px;
}

.add-btn {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.todo-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.todo-item {
  background-color: #fff;
  padding: 15px;
  border-bottom: 1px solid #ced4da;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item span {
  flex-grow: 1;
  margin-right: 10px;
}

.todo-item button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin-left: 10px;
  cursor: pointer;
}

.todo-item button.update {
  background-color: #007bff;
}

.todo-text {
  flex-grow: 1;
  margin-right: 10px;
  text-decoration: none;
  /* Set initial text-decoration to none */
}

.todo-text.complete {
  text-decoration: line-through;

}

@media screen and (max-width: 600px) {
  .todo-form {
    flex-direction: column;
    padding: 20px;
  }

  .todo-input {
    margin-bottom: 10px;
  }

  .add-btn {
    width: 100%;
  }
}